In [11]:
import pandas as pd
import numpy as np
import nltk
nltk.download('punkt')
from spellchecker import SpellChecker

[nltk_data] Downloading package punkt to /home/pavlo/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [19]:
def spelling_correction(text):
    spell = SpellChecker()
    
    # Find unknown words
    words = nltk.word_tokenize(text)
    misspelled = spell.unknown(words)
    
    # Correct spelling
    for word in misspelled:
        # Get the one 'most likely' answer
        correct_spelling = spell.correction(word)
        
        # Get a list of 'likely' options
        # candidates = spell.candidates(word)
        
        # Replace the misspelled word with the corrected word in the text
        if correct_spelling is not None:
            text = text.replace(word, correct_spelling)
    return text

In [17]:
prompts = pd.read_csv('../data_raw/prompts_train.csv')
summaries = pd.read_csv('../data_raw/summaries_train.csv')

In [20]:
prompts.loc[:, 'corrected_prompts'] = prompts['prompt_text'].map(lambda x: spelling_correction(x))

In [21]:
summaries.loc[:, 'corrected_summary'] = summaries['text'].map(lambda x: spelling_correction(x))

In [22]:
full_df = prompts.merge(summaries, on='prompt_id')

In [23]:
full_df.shape[0]

7165

In [24]:
summaries.shape[0]

7165

In [25]:
import os

In [26]:
for title, data in full_df.groupby('prompt_id'):

    os.makedirs(f'../data/{title}', exist_ok=True)
    train = full_df[full_df['prompt_id']!=title].copy()
    train.to_csv(f'../data/{title}/train.csv', index=False)
    data.to_csv(f'../data/{title}/test.csv', index=False)

In [27]:
summaries

,student_id,prompt_id,text,content,wording,corrected_summary
0,000e8c3c7ddb,814d6b,The third wave was an experimentto see how peo...,0.205683,0.380538,The third wave was an experiment see how peopl...
1,0020ae56ffbf,ebad26,They would rub it up with soda to make the sme...,-0.548304,0.506755,They would rub it up with soda to make the sme...
2,004e978e639e,3b9047,"In Egypt, there were many occupations and soci...",3.128928,4.231226,"In Egypt, there were many occupations and soci..."
3,005ab0199905,3b9047,The highest class was Pharaohs these people we...,-0.210614,-0.471415,The highest class was Pharaohs these people we...
4,0070c9e7af47,814d6b,The Third Wave developed rapidly because the ...,3.272894,3.219757,The Third Wave developed rapidly because the ...
...,...,...,...,...,...,...
7160,ff7c7e70df07,ebad26,They used all sorts of chemical concoctions to...,0.205683,0.380538,They used all sorts of chemical concoctions to...
7161,ffc34d056498,3b9047,The lowest classes are slaves and farmers slav...,-0.308448,0.048171,The lowest classes are slaves and farmers slav...
7162,ffd1576d2e1b,3b9047,they sorta made people start workin...,-1.408180,-0.493603,they sorta made people start workin...
7163,ffe4a98093b2,39c16e,An ideal tragety has three elements that make ...,-0.393310,0.627128,An ideal tragedy has three elements that make ...
7164,fffbccfd8a08,ebad26,"The meat would smell sour but the would ""rub i...",1.771596,0.547742,"The meat would imell iour but the would ""rub i..."